/* Set the default box size, padding, and margin */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Set the background color of the screen */
body {
    background-color: black;
    color: white;

}

/*Style the header by adding padding, fonts, background image, and text color.*/
.header {
    padding: 20px;
    font-family: "Century Schoolbook", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-image: url("../images/pexels-burst-544967.jpg");
    height: 130px;

    /*Style the h1 tag as a block and specifies the font size*/
    > h1 {
        display: block;
        font-size: 20px;
    }

    /*Style the navigation links*/
    > nav {
        padding-top: 15px;
        margin-right: 20px;
        float: right;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;

        > ul {
            list-style-type: none;

            > li {
                display: inline-block;
                margin-left: 25px;
            }
        }
    }
}

/* Set the font color to white and the text decoration to none
    for the navigation links in the header */
a {
    color: #ffffff;
    text-decoration: none;
}

h1 {
    color: white;
}

.section-title {
    display: flex;
    padding: 0 0 0 1em;
}
/*
.deployed-works {
    display: flex;
    padding: 0 0 0 1em;

    > .card-2 {
        display: inline;
    }
}
*/
p {
    padding: 15px 0 0 5em;
}

.title-container {
    /*padding: top left bottom right*/
    width: 100%;
    padding: 30px 10px 10px 10px;

    > h2 {
        border-right: solid thin;
        width: 200px;
        /*float: right;*/
    }
}

.contact-me {
    > .contact-info {
        display: inline;   
    }
}

.main-project {
    height: 350px;
    width: 800px;
}

.card-2 {
    display: inline;
}